@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
}
.document-body{
  width: 100%;
  height: auto;
}
.container{
  width: 1000px;
  margin: 0 auto;
}
/*头部*/
header{
  width: 100%;
  height: 60px;
  padding-top: 10px;
  margin-bottom: 10px;
}
.header-left{
  height: 70px;
  float: left;
}
.header-right{
  position: relative;
  width: 180px;
  height: 70px;
  margin-top: 20px;
  background: url('../images/header-right.gif') no-repeat;
  float: right;
}
.header-right span{
  position: absolute;
  left: 5px;
  top: 22px;
  display: block;
  color: #dd3388;
  font-size: 20px;
}
.logo{
  width: 175px;
  background:url('../images/logo.png') no-repeat;
}
.logo,.devide,.text{
  display: block;
  float: left;
  height: 100%;
}
.header-left span{
  color:#999;
}
.header-left .text{
  font-size: 23px;
  line-height: 77px;
  margin-left: -10px;
}
.header-left .devide{
  line-height: 82px;
  font-size: 36px;
  margin-left: -10px;
}
/*主体部分*/
  /*左边*/
section{
  width: 100%;
  height: 550px;
  border-top: 1px solid #dedede;
}
.section-left{
  width: 710px;
  float: left;
}
.form-box{
  width: 700px;
  padding-top: 60px;
}
.input-box{
  position: relative;
  height: 32px;
  width: 100%;
  margin-top:20px;

}
.input-box > *{
  height: 30px;
  position: absolute;
  z-index: 1;
}
.input-box > label{
  line-height: 30px;
  font-size: 12px;
  color: #333;
  right: 572px;
}
.input-box > label > .red{
  color: red;
}
.input-box > input{
  border: 1px solid #abc;
  box-shadow: 0 0 4px #cecece inset;
  text-indent: 12px;
  outline: none;
  font-size: 15px;
}
.input-box > input:focus{
  box-shadow: 0 0 4px #ffab36;
}
p.tips{
  font-size: 11px;
  color: #999;
  top: 6px;
  left: 152px;
  height: 18px;
}
.input-box>span > i{
  display: inline-block;
  margin-right: 5px;
  width: 12px;
  height: 12px;
  background: url('../images/x1.jpg') -92px 0 no-repeat;
}
.input-box > span{
  left: 410px;
  top: 8px;
  font-size: 12px;
  color: #999;
}
.b-input-box{
  width: 250px;
  right: 300px;
}
.s-input-box{
   width: 150px;
   left: 148px;
}
.ss-input-box{
   width: 90px;
   left: 308px;
}
input[type=checkbox]{
  left: 148px;
  top: 8px;
  height: auto;
}
.input-box > span.agree{
  left: 165px;
  top: 5px;
}
.input-box > .info{
  display: none;
}
.input-box > span a{
  color: #09c;
  text-decoration: none;
}
.input-box > span a:hover{
  color: #ffab36;
  text-decoration: underline;
}
.input-box .toLogin{
  left: 147px;
  top: 0;
}
button[type=submit]{
  width: 250px;
  height: 42px;
  left: 148px;
  top: -10px;
  cursor: pointer;
  outline: none;
  background: #e38;
  color: #fff;
  border: 1px solid #e38;
  font-size: 18px;
  border-radius: 2px;
}
.input-box .otherLoginBox{
  left: 148px;
  color: #333;
  font-size: 14px;
}
.input-box .otherLoginBox a{
  margin-top: 15px;
  display: inline-block;
  margin-left: 15px;
  width: 24px;
  height:24px;
  background: url('../images/icon.png') no-repeat;
}
.input-box .otherLoginBox a:hover{
  background-image: url('../images/icon-hover.png');
}
.otherLoginBox a:nth-child(1){
  margin-left: 0;
  background-position: 0 0;
}
.otherLoginBox a:nth-child(2){
  background-position: 0 -262px;
}
.otherLoginBox a:nth-child(3){
  background-position: 0 -101px;
}
.otherLoginBox a:nth-child(4){
  background-position: 0 -132px;
}
.btn{
  background: #f5f5f5;
  color: #666;
  border: 1px solid #ddd;
  cursor: pointer;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}
/*右边*/
.section-right{
  float: right;
  width: 290px;
}
.img-box{
  width: 100%;
  height: 496px;
  margin-top: 32px;
  border-left: 1px dashed #ddd;
}
.img-box img:nth-child(1){
  display: block;
  width: 260px;
  height: 110px;
  float: right;
}
.img-box img:nth-child(2){
  margin-top: 15px;
  display: block;
  width: 260px;
  height: 370px;
  float: right;
}
/*底部*/
footer{
  width: 1000px;
  font-size: 12px;
  color: #888;
}
a.promise-box{
  display: block;
  width: 100%;
  height: 70px;
  background: #fbfbfb;
  color: #999;
  border: 1px solid #eee;
  text-decoration: none;
}
.promise{
  width: 250px;
  height: 100%;
  float: left;
}
.promise-content{
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: -5px;
}
.promise-content > li{
  padding-left: 20px;
  position: absolute;
  top: 0;
  list-style: none;
  width: 250px;
  height: 50px;
  border-left: 1px solid #eee;
}
.promise-content > li  strong{
  display: block;
  width: 100%;
  font-size: 18px;
  font-weight: normal;
}
.promise-content > li span{
  display: block;
  width: 100%;
  font-size: 12px;
}
.promise-content > li:nth-child(1){
  border: 0;
}
.promise-content > li:nth-child(1) .icon{
  background-position: -100px 0;
}
.promise-content > li:nth-child(1) .icon-text{
  margin-top: -18px;
}
.promise-content > li:nth-child(2){
   left: 250px;
}
.promise-content > li:nth-child(2) .icon{
  background-position: -150px 0;
}
.promise-content > li:nth-child(3){
   left: 500px;
}
.promise-content > li:nth-child(3) .icon{
  background-position: -200px 0;
}
.promise-content > li:nth-child(4){
   left: 750px;
}
.promise-content > li:nth-child(4) .icon{
   background-position: -250px 0;
}
.icon{
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  width: 40px;
  height: 40px;
  background:url('../images/header_icon.png') no-repeat;
}
div.icon-text{
  width: 100%;
}
footer .webBottom{
  margin-top: 10px;
  padding-top: 10px;
  width: 1000px;
  height: 106px;
  border-top: 2px solid #dd1177;
}
footer .webBottom p{
  text-align: center;
  margin:2px auto;
}
.links-box>a{
  text-decoration: none;
  color: #ccc;
}
.pic-box a{
  position: absolute;
  background: transparent;
  display: inline-block;
  height: 35px;
}
.pic-box a:nth-child(1){left: 0;}
.pic-box a:nth-child(2){left: 52px;}
.pic-box a:nth-child(3){left: 105px;}
.pic-box a:nth-child(4){left: 182px;}
.pic-box a:nth-child(5){left: 233px;}
.pic-box a:nth-child(6){left: 286px;}
.pic-box a:nth-child(7){left: 377px;}
.pic-box a:nth-child(8){left: 468px;}
.pic-box a:nth-child(9){left: 517px;}
.pic-box a:nth-child(10){left: 568px;}
.pic-box a:nth-child(11){left: 660px;}
.a-52{
  width: 50px;
}
.a-90{
  width: 90px;
}
.a-75{
  width: 75px;
}
.pic-box{
  width: 750px;
  height: 35px;
  margin: 10px auto;
  position: relative;
  background: url('../images/imgh.png') no-repeat;
}
